/*
Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.
*/

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.pdf-view {
    width: calc(100% - 400px);
}

.container {
    border-left: 1px solid #333;
    width: 400px;
}

.annotation-icon {
    opacity: 0.5;
    width: 25px;
    margin: 0 10px;
}

ul {
    margin: 0 5px;
    padding: 0;
}

li * {
    float: left;
}

li, h3 {
    clear: both;
    list-style: none;
}

input, button {
    outline: none;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

button:hover {
    color: #333;
}

/* Heading */
h3 {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid #333;
    padding: 9px 0 14px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: #333;
}

/* Annotation list */
li {
    overflow: hidden;
    margin: 5px 0;
    padding: 10px 0;
    width: auto;
    border: 2px solid #3D85B0;
}

li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}

li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
}

li > input[type="text"] {
    width: 226px;
}

li > .delete:hover {
    color: #CF2323;
}

/* Edit Annotation */
ul li input[type=text] {
    display: none;
}

ul li.editMode input[type=text] {
    display: block;
}

ul li.editMode label {
    display: none;
}
