/*
Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.
*/

.container {
    background-color: #fdfdf9;
    height: 100vh;
}

.lb-view-file-btn {
    background-color: #1473e6;
    border: 1px #404040;
    border-radius: 5px;
    color: #ededed;
    cursor: pointer;
    font-family: "Arial";
    font-size: 15px;
    margin: 100px 0 0 80px;
    padding: 10px;
    width: 120px;
}

.lb-view-file-btn:hover {
    background-color: #0969df;
    color: white;
}

