/*
Copyright 2021 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.
*/

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

#adobe-dc-view {
  width: calc(100% - 300px);
}

h3 {
  margin-top: 40px;
}

#bookmark-pane {
  border-right: 1px solid grey;
  font-size: 15px;
  float: left;
  padding: 15px;
  width: 300px;
  background-color: #f5f5f5;
  text-align: center;
}

ul {
  list-style-type: disc;
  text-align: left;
  margin: 0;
}

li {
  cursor: pointer;
  font-family: Lato, sans-serif;
  color: #777;
  font-size: medium;
}