<li 
    id='annotation.id'
    [class.selected]='selectedAnnotationId === annotation.id'
    [class.unselected]='selectedAnnotationId !== annotation.id'
    (click)='listItemOnClick()'
>
    <!-- Input text -->
    <input *ngIf='inEditMode' type='text' [(ngModel)]='editInputValue'/>
    <!-- Label -->
    <label *ngIf='!inEditMode'>{{annotation.bodyValue}}</label>
    <!-- Edit button -->
    <button class='edit' (click)='editButtonOnClick($event)'>{{inEditMode ? 'Save' : 'Edit'}}</button>
    <!-- Delete button -->
    <button class='delete' (click)='deleteButtonOnClick($event)'>Delete</button>
</li>
