/*
Copyright 2021 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.
*/

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.pdf-view {
    width: calc(100% - 300px);
}

.container {
    border-left: 1px solid #333;
    width: 300px;
    font-family: Lato, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

input[type="text"] {
    margin: 0;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #606060;
    width: 100%;
}

input[type="text"]:focus {
    color: #333;
}
   
.search-container {
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 16px;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: #c3c5c3;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px;
    cursor: pointer;
  }

#search-result {
    padding: 6px 10px;
    margin: 20px 5px;
    display: none;
}

#searchResult-num {
    color: #606060;
    position: relative;
    top: -2px;
}

.searchResult-btn {
    margin-left: 10px;
    opacity: 0.2;
    border: 0;
    background: none;
    cursor: pointer;
}

#zoom-level {
    position: absolute;
    bottom: 0;
    padding: 6px 10px;
    margin: 20px 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

input[id="set-zoom"] {
    width: 20%;
    margin: 5px;
    text-align: center;
}

.zoom-btn {
    border: 0;
    background: none;
    cursor: pointer;
}
